 *{ margin: 0; padding: 0; box-sizing: border-box;}
  body{
    font-family: "Montserrat", sans-serif;
    background-image: url("kapadokya-seyahat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

}
 
.app {
  text-align: center;
  background: rgba(240, 210, 136, 0.666);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0);
}
.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 40px;
  color: #fff;
}

.header input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.city {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.temp {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 10px;
}

.desc {
  font-size: 25px;
  margin-bottom: 20px;
}

.minmax {
  font-size: 20px;
}